.header {
  background: url(../pics/pexels-pixabay-434337.jpg) center center / cover
    no-repeat;
  color: #000;
  height: 100vh;
}
.header__text {
  padding-top: 50rem;
  text-align: center;
  font-size: 2.5rem;
}
.header__text p,
.header__text h1 {
  margin: 0 0 0.5rem 0;
}
.header__text--name {
  font-size: 5rem;
  font-family: Indie Flower;
  color: $color-primary;
}
