.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3rem;
  transition: background 0.5s;
  z-index: 1;
  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 20rem;
    list-style-type: none;
  }
  &__link {
    padding: 0rem 2.5rem;
    color: $color-black;
    font-size: 2.5rem;
    text-decoration: none;
    &:hover {
      font-size: 3.2rem;
      text-decoration: underline;
      text-shadow: 0 2rem 4rem rgba($color-black, 0.5);
    }
  }
}

.navigation__name {
  font-size: 3.5rem;
  font-family: Indie Flower;
  color: $color-primary;
  &--hov:hover {
    font-size: 3.8rem;
    color: $color-primary-dark;
  }
}
//class added when scrolling
.scrolled {
  background-color: $color-primary-dark;
  padding-top: 1.5rem;
  padding-bottom: 0;
  .navigation {
    &__link {
      color: white;
      &:hover {
        font-size: 2.5rem;
      }
    }
    &__name--hov:hover {
      font-size: 3.5rem;
    }
  }
}
