.Skill {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 5rem;

  &__logo-pic {
    width: 20rem;
    height: 20rem;
  }
  &__flex {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
  }
}
