.Skill {
  display: flex;
  flex-direction: column;
  height: auto;
}
.logo-pic {
  width: 20rem;
  height: 20rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30%;
  text-align: center;
}
